<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="noindex,nofollow">

	<title>{$currentPage->getTitle()} | {$docName}</title>

	<link n:foreach="$assets->stylesheets as $assetsStylesheet" rel="stylesheet" href="{$assetsStylesheet}" type="text/css">
</head>
<body>
	<div class="header">
		<a href="{$linkGenerator->getHomepageUrl()}" class="logo">{$docName}</a>
	</div>

	<div class="body">
		<div class="body__content">
			<div class="htmlContent">
				{block pageContent}
					{block title}
						<h1>{$currentPage->getTitle()}</h1>
					{/block}
					{block installation}
						{if count($installation->stylesheets) > 0 || count($installation->scripts) > 0}
						<details class="installationInstructions">
							<summary class="installationInstructions__label">Installation</summary>
							<div class="installationInstructions__content">
								{if count($installation->stylesheets) > 0}
									<b>CSS</b><br>
									<pre><code class="language-css">{foreach $installation->stylesheets as $installationUrl}@import "{$installationUrl}";{sep}{="\n"}{/sep}{/foreach}</code></pre>
								{/if}

								{if count($installation->scriptsInHead) > 0}
									<b>JS (in head)</b><br>
									<pre><code class="language-html">{foreach $installation->scriptsInHead as $installationUrl}&lt;script src="{$installationUrl}"&gt;&lt;/script&gt;{sep}{="\n"}{/sep}{/foreach}</code></pre>
								{/if}

								{if count($installation->scripts) > 0}
									<b>JS</b><br>
									<pre><code class="language-html">{foreach $installation->scripts as $installationUrl}&lt;script src="{$installationUrl}"&gt;&lt;/script&gt;{sep}{="\n"}{/sep}{/foreach}</code></pre>
								{/if}
							</div>
						</details>
						{/if}
					{/block}
					{block content}{/block}
				{/block}
			</div>
		</div>

		<div class="body__menu">
			<ul class="navigation" role="navigation">
			{foreach $pages->getNavigation($currentPage) as $section}
				<li class="navigation__section">
					{if $section->getLabel() !== NULL}
						{var $sectionLink = $section->getLink()}
						<span n:if="$sectionLink === NULL" class="navigation__sectionLabel">{$section->getLabel()}</span>
						<a n:if="$sectionLink !== NULL" href="{$linkGenerator->getPageUrl($sectionLink)}" class="navigation__sectionLabel">{$section->getLabel()}</a>
					{/if}

					{var $sectionPages = $section->getPages()}
					<ul n:if="count($sectionPages) > 0" class="navigation__menu">
						<li n:foreach="$sectionPages as $sectionPage" class="navigation__item">
							<a href="{$linkGenerator->getPageUrl($sectionPage->getId())}" n:class="navigation__link, $sectionPage->isActive($currentPage) ? navigation__link--active">{$sectionPage->getTitle()}</a>
						</li>
					</ul>
				</li>
			{/foreach}
			</ul>
		</div>
	</div>

	<script n:foreach="$assets->scripts as $assetsScript" src="{$assetsScript}"></script>
</body>
</html>
